
.idea/modules/Nencer_Wallet.iml
.idea/modules/app/Nencer Wallet-app.iml
.idea/modules.xml
.idea/libraries/Gradle__me_abhinay_input_currency_edittext_1_1_aar.xml
.idea/libraries/Gradle__io_realm_realm_android_library_5_10_0_aar.xml
.idea/libraries/Gradle__com_jakewharton_timber_timber_4_6_0_aar.xml
.idea/libraries/Gradle__com_github_markomilos_paginate_0_5_1_aar.xml
.idea/libraries/Gradle__com_facebook_shimmer_shimmer_0_4_0_aar.xml
.idea/libraries/Gradle___avanlib__aar.xml
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
local.properties
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
